:local(.maincontent){
	position: absolute;
	float: left;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);

}


:local(#imagetext){
	position: relative;
	font-family: 'Shadows Into Light', cursive;
	font-size: 2em;
	text-align: center;
}

:local(#name){
	position: relative;
	font-family: 'Shadows Into Light', cursive;
	font-size: 3em;
	font-weight: 800;
	text-align: center;
}
